.header { background-image: url("http://image.ishareread.com/blog/hexo/image/bg/hearder-bg-image.jpg"); }

.header-inner { position: relative; }


@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";
